<body>
    <div class="form-container">
        <h2>Connexion</h2>
        <form (ngSubmit)="onLogin()">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required />
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required />
            <button type="submit">Se connecter</button>
        </form>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
</body>